<header>
  <a routerLink="/landing" class="logo">
    <app-logo size="2.5rem"></app-logo>
    <span>Optihome</span>
  </a>
  <nav>
    <a routerLink="/landing" class="link" >Asistente digital</a>
    <a routerLink="/landing" class="link">Productos</a>
    <a routerLink="/landing" class="link">Beneficios</a>
    <a routerLink="/landing" class="link">Como funciona</a>
    <a routerLink="/landing" class="link">Sobre nosotros</a>
  </nav>
<!--TODO move to share component-->
  <a routerLink="/shop" class="nav-button">Comenzar</a>
</header>

<router-outlet>
</router-outlet>
