main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

.other-content{
  width: 100%;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.benefits{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.benefits li{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
