:host {
  width: 100%;
  max-width: 1500px;
}

#benefits {
  min-height: calc(100vh - var(--header-height-landing));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 4rem 1.5rem;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.card-container landing-card {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 900px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  section {
    padding: 2rem 1rem;
  }
}
