section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.product {
  scroll-snap-align: center;
}

#ecosystem-products {
  display: flex;
  padding: 0 1.5rem;
  width: fit-content;
  gap: 2rem;
}

.scroll-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

@media (min-width: 1024px) {
  #ecosystem-products {
    padding: 0 5rem;
  }
}
