section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.scroll-container {
  width: 100vw;

  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
#ecosystem-products {
  display: flex;
  padding: 0 5rem;
  width: fit-content;
  gap: 2rem;
}
#ecosystem-products::-webkit-scrollbar {
  display: none;
}

.scroll-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
