.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: fixed;
  bottom: 0;
  right: 0;

  padding: 1rem;
  z-index: 10000;
}

.notification {
  transition: transform 0.2s ease-in-out;

  transform: translateX(0);

  @starting-style {
    transform: translateX(100vw);
  }
}

.exit-animation {
  transform: translateX(100vw);
}
