:host {
  width: 100%;
}

.hero {
  margin-top: var(--header-height-landing);
  min-height: calc(100vh - var(--header-height-landing));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.other-content {
  width: 100%;
  padding: 1.5rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 0 1rem;
}

.benefits li {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .benefits {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .hero {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
