header {
  height: var(--header-height-landing);
  padding: 0 1.5rem;
  border-bottom: 1px solid var(--neutral-100);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(241, 249, 254, 80%);
  backdrop-filter: blur(10px);

  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1001;
}
.logo span {
  font-weight: 600;
  font-size: 1.1rem;
}

.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--neutral-900);
  cursor: pointer;
  z-index: 1001;
  padding: 0.5rem;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.link {
  color: var(--neutral-900);
  transition: transform 0.2s ease-in-out;
  font-weight: 500;
}
.link:hover {
  transform: scale(1.05);
}
.link-active {
  color: var(--brand-600);
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--neutral-50);
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    transition: right 0.3s ease-in-out;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  nav.open {
    right: 0;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
    margin-top: 1rem;
    width: 100%;
  }

  .mobile-only :host ::ng-deep button {
    width: 100%;
  }

  .link {
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
}
