header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
}

.title {
  width: 100%;
  max-width: 800px;
}

.paragraph {
  display: block;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

@media (max-width: 768px) {
  .title,
  .paragraph {
    max-width: 100%;
  }
}
