header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
}

.title {
  width: 50%;
}

.paragraph {
  display: block;
  width: 50%;
  text-align: center;
}
