<main>
  <landing-cta-section
    class="hero"
    contentTitle="Tu hogar inteligente,"
    contentHighlight="sin dependencias externas"
    contentParagraph="Automatización del hogar que funciona sin internet, sin servidores en la nube, sin suscripciones. Tus datos nunca salen de tu casa."
  >
    <div class="other-content">
      <ui-primary-button [action]="navigateToMain" [size]="SizeEnum.large">Descubrir productos</ui-primary-button>

      <ul class="benefits">
        <li>
          <lucide-icon [img]="shieldIcon" aria-hidden="true" [color]="BrandColorsEnum.Brand400"></lucide-icon>
          Privacidad total
        </li>
        <li>
          <lucide-icon [img]="zapIcon" aria-hidden="true" [color]="BrandColorsEnum.Brand400"></lucide-icon>
          Respuesta instantánea
        </li>
        <li>
          <lucide-icon [img]="wifiIcon" aria-hidden="true" [color]="BrandColorsEnum.Brand400"></lucide-icon>
          Sin Internet
        </li>
      </ul>
    </div>
  </landing-cta-section>

  <section class="why-local">
    <landing-section-header
      titleContent="¿Por qué local?"
      paragraphContent="La domótica depende de servidores externos. Nosotros creemos que tu hogar deberóa funcionar para ti, no para corporaciones"
    ></landing-section-header>
    <div class="card-container">
      @for (card of benefitsCards; track card.id) {
      <landing-card [icon]="card.icon" [titleText]="card.title" [descriptionText]="card.description"></landing-card>
      }
    </div>
  </section>

  <section class="ecosystem">
    <landing-section-header
      titleContent="Ecosistema OptiHome"
      paragraphContent="Dispositivos diseñados desde cero para funcionar localmente. Compatibles entre sí y con protocolos abiertos"
    ></landing-section-header>
    <div class="product-container">
      @for(product of ecosystemProducts; track product.id){
      <landing-product-card
        class="product"
        [imageUrl]="product.imagePath"
        [imageAlt]="product.imageAlt"
        [titleContent]="product.title"
        [urlContent]="product.urlContent"
        [urlPath]="product.path"
      ></landing-product-card>
      }
    </div>
  </section>

  <section class="how-it-works">
    <landing-section-header
      titleContent="Así de simple"
      paragraphContent="Configurar tu hogar inteligente nunca fue tan fácil. Sin cuentas en la nube, sin configuraciones complejas"
    ></landing-section-header>
    <ol [ngStyle]="{ gridTemplateRows: `repeat(${stepsData.length}, 1fr)` }">
      @for (step of stepsData; track step.id; let index = $index; let even = $even) {
      <ng-container>
        <li [ngStyle]="{ 'grid-column': even ? 1 : 3, 'grid-row': index + 1, justifySelf: even ? 'end' : 'start' }">
          <landing-card [icon]="step.icon" [titleText]="step.title" [descriptionText]="step.description"></landing-card>
        </li>
        <!-- TODO Preguntar al profe -->
        <div class="step-number" aria-hidden="true">{{ index + 1 }}</div>
      </ng-container>
      }
      <div class="steps-count-line" aria-hidden="true"></div>
    </ol>
  </section>

  <landing-cta-section
    class="final"
    contentTitle="Recupera el control de"
    contentHighlight="tu hogar inteligente"
    contentParagraph="Únete a miles de hogares que han elegido la privacidad y el control local. Tu casa, tus reglas, tus datos."
  >
    <div class="other-content">
      <ui-primary-button [action]="navigateToMain" [size]="SizeEnum.large">Empezar ahora</ui-primary-button>

      <ul class="benefits-final">
        <li>Envío gratuito</li>
        <li>30 días de devolución</li>
        <li>Garantía de 3 años</li>
      </ul>
    </div>
  </landing-cta-section>
</main>
