.hero {
  min-height: calc(100vh - var(--header-height-landing));
  display: flex;
  justify-content: center;
  width: 100%;
}

main {
  padding-top: var(--header-height-landing);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  width: 100%;
}

.other-content {
  width: 100%;
  padding: 1.5rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.benefits-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 0 1rem;
}

.benefits-hero li {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  white-space: nowrap;
}

.final {
  padding: 4rem 1.5rem 10rem;
  width: 100%;
}

.benefits-final {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.benefits-final li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 900px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .benefits-hero {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  main {
    gap: 4rem;
  }

  .hero,
  .final {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
