main {
  padding-top: var(--header-height-landing);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

.other-content {
  width: 100%;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.benefits {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.benefits li {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.why-local {
  height: calc(100vh - var(--header-height-landing));
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 5rem;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-container * {
  width: 30%;
}

.ecosystem {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.product-container {
  display: flex;
  gap: 2rem;
  padding: 0 0 0 5rem;

  width: 100vw;

  overflow-x: auto;
}
.product {
  width: 30vw;
}
