main {
  padding-top: var(--header-height-landing);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

.other-content {
  width: 100%;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.benefits {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.benefits li {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.why-local {
  height: calc(100vh - var(--header-height-landing));
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 5rem;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-container * {
  width: 30%;
}

.ecosystem {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.product-container {
  display: flex;
  gap: 2rem;
  padding: 0 0 0 5rem;

  width: 100vw;

  overflow-x: auto;
}
.product {
  width: 30vw;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.how-it-works ol {
  position: relative;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100vw;
}
.how-it-works li {
  display: flex;
  gap: 1rem;

  justify-self: center;
  align-self: center;
  width: 70%;
}

.step-number {
  grid-column: 2;
  justify-self: center;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--neutral-50);
  color: var(--brand-400);
  border: 2px solid var(--brand-400);
  box-shadow: 0 0 10px 6px var(--brand-100);
  border-radius: 50%;

  height: 4rem;
  width: 4rem;

  font-size: 1.2rem;
}

.steps-count-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  height: 100%;
  width: 2px;

  background: var(--brand-500);
}
