article{
  min-width: 300px;

  background: var(--neutral-50);
  padding: 2rem 1.5rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: .5rem;
}

h3{
  font-size: 1.5rem;
  color: var(--neutral-950);

  display: flex;
  align-items: center;
  gap: .5rem;
}

article p{
  color: var(--neutral-400);
  line-height: 1.5;
}
