header{
  padding: 1.5rem 1rem;
  border: 1px solid var(--neutral-200);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  background-color: rgba(241, 249, 254, 10%);
  backdrop-filter: blur(5px);
}

.logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo span{
  font-weight: 600;
  font-size: 1.1rem;
}

nav{
  display: flex;
  gap: 1rem;
}

.link{
  color: var(--neutral-900);
  transition: scale .2s ease-in-out;
}
.link:hover{
  scale: 1.1;
}
.link-active{
  color: var(--brand-600);
}
