article {
  width: 100%;
  min-width: 300px;

  background: var(--neutral-50);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--neutral-100);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

article:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
