.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
  background: var(--neutral-50);
  border-radius: 2rem;
}
.card a {
  text-align: center;
  line-height: 1.5;
  color: var(--brand-600);
}

.chevron {
  display: inline-block;
  height: 1rem;
}
