/* Global styles */

* {
  font-family: 'Poppins', sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-300) var(--brand-50);

  background: var(--brand-50);
  scroll-behavior: smooth;
}
