button {
  border-radius: 0.5rem;
  background: linear-gradient(90deg, var(--brand-500) 0%, var(--brand-600) 250%);

  color: var(--neutral-50);
}
.small {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}
.medium {
  padding: 0.7rem 2rem;
  font-size: 0.9rem;
}
.large {
  padding: 1rem 2.5rem;
  font-size: 1rem;
}
